.movie{
    margin-top: 110px;
    width: 100vw;
    height: 400px;
    min-height: 400px;
   
}
.movieslide{
    overflow-x: scroll;
    width:90%;
    height: 90%;
    margin:2% 5%;
   display: flex;
   align-items: center;


}