.btn{
    color:white;
    background-color: red;
    border:0;
    cursor: pointer;
    height: 23px;
    width:50px;
    position: absolute;
    right:2px;

}
.btn:hover{
    border-radius: 30%;
    box-shadow: 1px 1px 15px white;
}

.taskname{
   
    max-width: 60%;
    font-size: 100%;
    color:black;
    font-family: monospace;
    word-break: break-all;
}
